
/* AI助手样式 */
.aiHelper {
    box-sizing: border-box;
    height: 50%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff; /* 设置AI助手背景颜色 */
    padding: 10px; /* 设置内边距 */
    border: 1px solid #ddd; /* 设置边框 */
    border-radius: 5px; /* 设置圆角 */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* 添加阴影效果 */
    transition: all 1s ease;
}

.ai-header {
    height: 5%;
    display: flex; /* 使用Flexbox布局 */
    justify-content: center; /* 水平居中对齐 */
    align-items: center; /* 垂直居中对齐 */
    padding: 10px; /* 添加内边距 */
    border-bottom: 1px solid #ccc; /* 下边框 */
    position: relative; /* 为按钮的绝对定位提供参考 */
}


.ai-header .fullscreen-btn {
    position: absolute; /* 绝对定位 */
    left: 10px; /* 距离左边10px */
    top: 50%; /* 垂直居中 */
    transform: translateY(-50%); /* 垂直居中调整 */
}

.chat-title {
    font-size: 18px; /* 设置标题字体大小 */
    color: #333; /* 设置标题颜色 */
    margin-bottom: 20px; /* 设置标题下方的外边距 */
    text-align: center; /* 设置居中 */
}

#chat-container {
    flex-grow: 1; /* 使聊天容器自动调整 */
    overflow-y: auto; /* 使聊天容器内容可滚动 */
    border: 1px solid #ddd; /* 设置边框 */
    margin-bottom: 10px; /* 设置下方的外边距 */
    padding: 10px; /* 设置内边距 */
    background-color: #f9f9f9; /* 设置背景颜色 */
    border-radius: 5px; /* 设置圆角 */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* 添加阴影效果 */
}

.input-container {
    flex-shrink: 0; /* 防止这些元素缩小 */
    display: flex; /* 使用Flexbox布局 */
    flex-direction: row;
}
textarea#input-message {
    width: 100%;
    box-sizing: border-box; /* 使textarea填满父容器 */
}

.input-container button {
    margin: 0;
    padding: 10px 20px; /* 设置内边距 */
    background-color: white; /* 设置按钮背景颜色 */
    color: black; /* 设置按钮文字颜色 */
    border: 1px solid #ddd; /* 设置边框 */
    cursor: pointer; /* 设置鼠标指针样式 */
    border-radius: 5px; /* 设置圆角 */
    transition: background-color 0.3s; /* 添加背景颜色过渡效果 */
}

#input-message {
    width: 90%;
    padding: 10px; /* 设置内边距 */
    border: 1px solid #ddd; /* 设置边框 */
    border-radius: 5px; /* 设置圆角 */
    box-sizing: border-box; /* 包括内边距和边框 */
}


.input-container button:hover {
    background-color: #9da4ac; /* 设置按钮悬停时的背景颜色 */
}

/* 用户消息样式，可以用不同的颜色区分 */
div.message.user {
    padding: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #e0f7fa; /* 用户消息的背景颜色 */
    border-radius: 10px; /* 圆角 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 轻微的阴影效果 */
}

/* AI 消息样式 */
div.message.ai {
    background-color: #ffffff; /* AI 消息的背景颜色 */
    padding: 2px;
    border-radius: 10px; /* 圆角 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 轻微的阴影效果 */
}

.message {
    text-wrap: wrap;
}
