/* 全局无下划线 */
a {
    text-decoration: none;
}

body {
    margin: 0;
    width: 100%;
    flex-wrap: wrap;
    height: auto;
    background: linear-gradient(200deg,#a8edea, #fed6e3);
    display: inline;
}


/* 导航栏 */
.header {
    opacity:0.9;
    display: flex;
    width: 100%;
    height: 66px;
    position: fixed;
    z-index: 999;
    background-color: rgba(17, 17, 17, 0.75);
    box-shadow: 0px 3px 7px 0px rgb(0 0 0 / 35%);
}

.header__navbar {
    display: flex;
    width: 800px;
    height: 66px;
    display: inline-block;
    list-style-type: none;
    padding-right: 10px;
    margin-left: 40px;
}

.header_navitem a {
    position: relative;
    left: 240px;
    top: 0px;
    float: left;
    width: 40px;
    height: 66px;
    margin: 0 29px;
    margin: 0 30px !important;
    line-height: 66px;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #ccc;
    text-align: center;
    cursor: pointer;
}

.header_navitem a:hover {
    text-shadow: 0 0 10px #69e0ff, 0 0 40px #69e0ff, 0 0 40px #69e0ff;
    color: #fff;
}

.header_hover {
    text-shadow: 0 0 10px #69e0ff, 0 0 20px #69e0ff, 0 0 40px #69e0ff;
    color: white;
}

.header_Cloud {
    position: absolute;
    z-index: 1;
    transition: all 0.2s ease-out 0s;
    background-color: rgb(105, 224, 255);
    height: 5px;
    left: 308px;
    width: 40px;
    top: 0px;
}

.showbox {
    width: 100%;
    display: flex;
    flex-wrap: wrap; /* 确保多行布局 */
    height: auto;
    justify-content: center; /* 水平居中整个容器 */
}

.playground {
    width: 100%;
    height: 4000px; /* 每个 playground 的高度 */
    position: relative; /* 确保 .animation-container 的定位基于它 */
}

.animation-container {
    position: sticky;
    top: 0;
    height: 100vh; /* 确保高度为视窗高度 */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around; /* 子元素均匀分布 */
}

.picture-container, .text-container {
    width: 40%;
    height: auto;
    transition: transform 0.1s ease; /* 平滑的动画效果 */
}

.picture-container img {
    width: 100%; /* 确保图片宽度填满容器 */
    height: auto; /* 保持图片比例 */
}

.text-container .text {
    display: block;
    padding: 20px; /* 添加内边距，使文本有足够的空白 */
    background-color: rgba(255, 255, 255, 0.8); /* 背景色和透明度 */
    border-radius: 10px; /* 圆角 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 轻微的阴影效果 */
}
