
body {
    margin: 0;
    width: 100%;
    flex-wrap: wrap;
    height: auto;
    background: linear-gradient(200deg,#a8edea, #fed6e3);
    display: inline;
}


.problemSet .problem {
    display: flex;
    width: 100%;
    height: 66px;
}

#exampleProblem {
    height: 50px;
    width: 100%;
}

.problemSet {
    display: flex;
    
}

.problem {
    margin: 50px;
}