/* markdown 内容添加样式 */
.markdown {
    margin: 0; /* 移除默认外边距 */
    padding: 0; /* 移除默认内边距 */
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
    margin-top: 20px; /* 标题上方外边距 */
    margin-bottom: 10px; /* 标题下方外边距 */
    font-weight: bold; /* 标题加粗 */
    color: #2c3e50; /* 标题颜色 */
}

.markdown p {
    margin-bottom: 15px; /* 段落下方外边距 */
}

.markdown pre {
    background-color: #f3f3f3; /* 代码块浅色背景 */
    border: 1px solid #e1e1e1; /* 代码块浅灰色边框 */
    border-radius: 3px; /* 代码块圆角 */
    padding: 10px; /* 代码块内边距 */
    font-family: 'Courier New', monospace; /* 代码块等宽字体 */
    font-size: 15px; /* 代码块字体大小 */
    overflow: auto; /* 如果代码块内容超出，显示滚动条 */
}

.markdown pre code {
    background: none; /* 去掉 code 标签的背景色 */
    border: none; /* 去掉 code 标签的边框 */
    padding: 0; /* 去掉 code 标签的内边距 */
    font-family: inherit; /* 使用 pre 标签的字体 */
    font-size: inherit; /* 使用 pre 标签的字体大小 */
}


/* 行内代码样式 */
.markdown code {
    padding: 2px 4px; /* 行内代码内边距 */
    border-radius: 3px; /* 行内代码圆角 */
}

/* 块级代码样式 */
.markdown pre {
    overflow-x: auto; /* 长代码行水平滚动 */
    padding: 10px; /* 块级代码内边距 */
    border-radius: 3px; /* 块级代码圆角 */
}
